{% if user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
<hr>
<h1>My To Do List</h1>
<a href="{% url 'task_create' %}">Add Task</a>

<form method="GET" action="">
    <input type="text" name="search_area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task_update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task_delete' task.id %}">delete</a></td>
    </tr>
    {% empty%}
        <h3>No Items in list</h3>
    {% endfor %}
</table>